﻿@using IronPen.Models
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
@{
    IronPenEntities db = new IronPenEntities();
    var currentUser = User.Identity.GetUserId();
    var notifications = db.Notifications.Where(c => c.ReciverId == currentUser).Where(c=>c.Status==0).OrderByDescending(c=>c.Time);
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Site/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="~/Content/Site/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="~/Content/Site/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="~/Content/Site/css/animate.css" rel="stylesheet">
    <link href="~/Content/Site/css/style.css" rel="stylesheet">
    <link href="~/Content/Site/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">

</head>
<body>
    <div>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span>
                                    <img alt="image" style="width: 80px;margin-left: 35px" class="img-circle" src="~/Content/Site/img/profile_small.jpg" />
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                            <strong class="font-bold"></strong>
                                        </span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                    <li><a href="profile.html">Profile</a></li>
                                    <li><a href="contacts.html">Contacts</a></li>
                                    <li><a href="mailbox.html">Mailbox</a></li>
                                    <li class="divider"></li>
                                    <li><a href="login.html">Logout</a></li>
                                </ul>
                            </div>
                            <div class="logo-element">
                                SP
                            </div>
                        </li>

                        <li>
                            <a href="~/Profile/"><i class="fa fa-user"></i> <span class="nav-label">Profile</span></a>
                        </li>
                        <li>
                            <a href="~/Groups"><i class="fa fa-group"></i> <span class="nav-label">Groups</span></a>
                        </li>
                        <li>
                            <a href="~/Profile/Albums"><i class="fa fa-diamond"></i> <span class="nav-label">Albums</span></a>
                        </li>


                    </ul>

                </div>
            </nav>
            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" id="sideBarCollapse" href="#"><i class="fa fa-bars"></i> </a>
                            <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message">Welcome to Smart Pen.</span>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i>  <span class="label label-primary">@notifications.Count()</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    @foreach (var item in notifications)
                                    {
                                        <li>
                                            <a href="~/Profile/Notifications">
                                                <div>
                                                    <i class="fa fa-envelope fa-fw"></i> @item.Description
                                                    <span class="pull-right text-muted small">@item.Time</span>
                                                </div>
                                            </a>
                                        </li>

                                    }
                                    <li class="divider"></li>

                                </ul>
                            </li>


                            <li>
                                <a href="login.html">
                                    <i class="fa fa-sign-out"></i> Log out
                                </a>
                            </li>
                        </ul>

                    </nav>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content">
                            @RenderBody()
                        </div>
                        <div class="footer">

                            <div>
                                <strong>Copyright</strong> Smart Pen Company &copy; @DateTime.Now.Year
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<!-- Mainly scripts -->
    <script src="~/Content/Site/js/jquery-2.1.1.js"></script>
    <script src="~/Scripts/selectize.js"></script>

    <script src="~/Content/Site/js/bootstrap.min.js"></script>
    <script src="~/Content/Site/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/Site/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalR/hubs"></script>
    <!-- Flot -->
    <script src="~/Content/Site/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/Content/Site/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/Site/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="~/Content/Site/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/Site/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="~/Content/Site/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/Content/Site/js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Content/Site/js/inspinia.js"></script>
    <script src="~/Content/Site/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Content/Site/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="~/Content/Site/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- Sparkline -->
    <script src="~/Content/Site/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="~/Content/Site/js/demo/sparkline-demo.js"></script>

    <!-- ChartJS-->
    <script src="~/Content/Site/js/plugins/chartJs/Chart.min.js"></script>

    <!-- Toastr -->
    <script src="~/Content/Site/js/plugins/toastr/toastr.min.js"></script>

    <script src="~/Content/Site/js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>

    
</body>
</html>
