﻿@model IEnumerable<IronPen.Models.Album>

@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/thirdeffect.css" rel="stylesheet">
<div class="wrapper wrapper-content">
    <div class="row">
        @foreach (var item in ViewBag.GroupsIds)
        {
            var pictures = Model.Where(c => c.GroupId == item);

            var albumFound = Model.Where(c => c.GroupId == item).Count();
            if(albumFound !=0){

                <div class="col-lg-6">
                    <div class="ibox float-e-margins">

                        <div class="ibox-content">
                            <h2>Album- @Model.Where(c => c.GroupId == item).FirstOrDefault().Group.GroupName</h2>
                            <div class="lightBoxGallery">
                                @foreach (var item2 in pictures)
                                {
                                    <div class="col-md-4 view third-effect" style="float: none; display: inline-block;border: 1px solid  black">
                                        <img class="img-responsive" src="~/@item2.ImageLink">
                                        <div class="mask">
                                            <a href="~/@item2.ImageLink" title="h" data-gallery="" class="info">View</a>
                                            <br/>
                                            <a href="~/Profile/Page/@item2.Id" class="info">Replay</a>
                                        </div>
                                    </div>
                                }


                                <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                                <div id="blueimp-gallery" class="blueimp-gallery">
                                    <div class="slides"></div>
                                    <h3 class="title"></h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="close">×</a>
                                    <a class="play-pause"></a>
                                    <ol class="indicator"></ol>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        

    </div>
</div>

