﻿@model IEnumerable<IronPen.Models.GroupVsUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>All Groups assigned to this account</h5>
                    <div class="ibox-tools">
                        <a href="~/Groups/Create" class="btn btn-primary btn-xs">Create new Group</a>
                    </div>
                </div>
                @if (TempData["errorMessage"] != null)
                {
                    <br/>
                    <div class="alert alert-danger" role="alert" align="center">
                        <p>@TempData["errorMessage"].ToString()</p>
                    </div>
                }
                <div class="ibox-content">
                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-1">
                            <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                        </div>
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="project-list">

                        <table class="table table-hover">
                            <tbody>
                            @foreach (var item in Model) {
                                <tr>
                                    <td class="project-status">
                                        @if (item.Group.Status == 1)
                                        {
                                            <span class="label label-primary">Active</span>

                                        }
                                        else
                                        {
                                            <span class="label label-danger">Disabled</span>

                                        }
                                    </td>
                                    <td class="project-title">
                                        <a href="~/Board/">@item.Group.GroupName</a>
                                        <br/>
                                        <small>@item.Group.CreateDate.ToString("dd/MM/yyyy HH:mm")</small>
                                    </td>

                                    <td class="project-people">
                                        <a href=""><img alt="image" class="img-circle" src="~/Content/Site/img/a3.jpg"></a>
                                        <a href=""><img alt="image" class="img-circle" src="~/Content/Site/img/a1.jpg"></a>
                                        <a href=""><img alt="image" class="img-circle" src="~/Content/Site/img/a2.jpg"></a>
                                        <a href=""><img alt="image" class="img-circle" src="~/Content/Site/img/a4.jpg"></a>
                                        <a href=""><img alt="image" class="img-circle" src="~/Content/Site/img/a5.jpg"></a>
                                    </td>
                                    @if (item.Group.Status == 1)
                                    {

                                        <td class="project-actions">
                                            <a href="~/Board/index?p=@item.Group.Url" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="project-actions">
                                            <a href="" class="btn btn-white btn-sm disabled"><i class="fa fa-folder disabled"></i> View </a>
                                        </td>
                                    }
                                </tr>
                            }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
