﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/selectize.css" rel="stylesheet"/>
<script src="~/Scripts/saver.js"></script>
<style type="text/css">
    #container {
        position: relative;
        overflow: auto;
        scrollbar-base-color: #ffeaff;
        scrollbar-base-color: #ffeaff;
    }

    #whiteBoard {
        border: 1px dashed #CCCCCC;
        margin: 5px;
        border-style: dotted;
        border-width: 1px;
        background-color: #FFFFFF;
        vertical-align: top;
    }

    #imageTemp {
        position: absolute;
        top: 1px;
        left: 1px;
        margin: 5px;
    }

    #imageTempt {
        position: absolute;
        top: 1px;
        left: 1px;
        margin: 5px;
    }

    .ui-widget-overlay {
        opacity: .70;
        filter: Alpha(Opacity=70);
    }
</style>
<table width="100%" id="tableWhiteBoard">
    <tr>
        <td style="width: 80%">
            <table style="vertical-align: top; width: 100%;" cellpadding="0" cellspacing="0">
                @if (ViewBag.Owner == 1 || ViewBag.FeatureAccess==1)
                {
                    <tr>
                        <td>
                            <img id="imgline" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                                 src="/images/line_dim.png" onclick="SelectTool('line'); return false;" />
                            <img id="imgpencil" style="border-color: Gray; border-style: dashed; width: 32px;
                                                                                                                                                                                                                                                                                            height: 32px" src="/images/pencil_dim.png" onclick="SelectTool('pencil'); return false;" />
                            <img id="imgrect" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                                 src="/images/rect_dim.png" onclick="SelectTool('rect'); return false;" />
                            <img id="imgtext" style="border-color: Gray; border-style: dashed; width: 32px; height: 32px"
                                 src="/images/text_dim.png" onclick="SelectTool('text'); return false;" />
                            <img id="imgerase" style="border-color: Gray; border-style: dashed; width: 32px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           height: 32px" src="/images/erase_dim.png" onclick="SelectTool('erase'); return false;" />
                            <img id="imgSave" style="border: 0; border-style: dashed; width: 32px; height: 32px"
                                 src="/images/save.png" />
                            <span class="pull-right">
                                <div class="form-group form-inline">
                                    <select type="text" id="emails" name="emails[]" class="form-inline" multiple="multiple">
                                        @foreach (var item in ViewBag.users)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                    <button class="btn btn-success" id="invite">Invite</button>
                                </div>

                            </span>
                        </td>
                    </tr>

                }
                <tr>
                    <td style="vertical-align: top;">
                        <div id="container" style="width: 100%; height: 842px">
                            <canvas id="whiteBoard"></canvas>
                            <div id="status">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top">

            <div style="margin-top: 38px;">
                <div class="well well-sm">
                    <ul class="" id="onlineUsers">
                        @foreach (var item in ViewBag.onlineUsers)
                        {
                            if(item.AspNetUser.Id!=User.Identity.GetUserId()){
                            <li>@item.AspNetUser.UserName</li>
                            if (ViewBag.Owner == 1)
                            {
                                if (item.Status==1)
                                {
                                    <button class="btn btn-xs btn-danger blockUser" value="@item.AspNetUser.Id"> Block </button>

                                }
                                else
                                {
                                    <button class="btn btn-xs btn-danger blockUser" value="@item.AspNetUser.Id"> UnBlock </button>

                                }
                                if (item.Feature == 0)
                                {
                                    <button class="btn btn-xs btn-default allowFeature" value="@item.AspNetUser.Id"> Allow </button>

                                }
                                else
                                {
                                    <button class="btn btn-xs btn-default allowFeature" value="@item.AspNetUser.Id"> Disable </button>

                                }
                            }
                            }
                        }
                    </ul>
                </div>
                
                <div class="text-center" align="center"><h4>Chat</h4>
                </div>
                <div id="divMessage" style="height: 150px; width: 220px; padding: 2px; border: 2px; solid: black; background-color: white;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  overflow-y: scroll;">
                </div>
                <textarea rows="2" cols="25" id="txtMessage" class="form-control" style="width: 205px; margin-top: 5px"></textarea>
                <div align="center">
                    <input type="button" class="btn btn-primary btn-md" id="btnSend" style="margin: 5px auto;" value="Send"/>
                </div>

                <div id="divStatus">
                </div>
            </div>

        </td>
    </tr>
</table>
<input type="hidden" id="sessinId" value="@Session.SessionID" />
<input type="hidden" id="groupName" value="@ViewData["GroupName"]" />
<script type="text/javascript">
    if (Modernizr.canvas) {

    } else {
        document.getElementById('tableWhiteBoard').style.display="none";
        document.write( " Please use a browser which support HTML5. IE8+, Chrome or Firefox 4.0 +.  <br/><br/>@DateTime.Now.Year - Online Whiteboard using HTML5 and SignalR by Alvin George ");
        alert("This browser does not support HTML5. Try with higher version.");
    }

</script>




<input type="hidden" id="userName" value="@ViewData["UserName"]"/>
<input type="hidden" id="name" value="@ViewBag.userName" class="text ui-widget-content ui-corner-all" maxlength="25" />

<script src="~/Content/Site/js/jquery-2.1.1.js"></script>
<script src="~/Scripts/whiteboard_1.js" type="text/javascript"></script>

<script>
    var userNamee = "@ViewBag.userName";
    $().ready(function() {
        $('#tableWhiteBoard').click(function() {

        });

        setTimeout(function() {
            $("#sideBarCollapse").click();

        }, 100);
    });

    //invite User
    $("#invite").click(function() {
        var x = $("#emails").val();
        $.ajax({
            url: "@Url.Action("invite", "Board")",
            type: "POST",
            data: { email: x,p: "@Request["p"].ToString()"},
            dataType: "html",
            traditional: true,
            success: function (dataa) {
                var data = $.parseJSON(dataa);
                if (data.error !=null){
                    alert(data.error);
                }
            },
            error: function (dataa) {

            }
        });

    });

    //Block user
    $(".blockUser").click(function() {
        var x = this.value;
        var y = $(this)[0];

        $.ajax({
            url: "@Url.Action("blockUser", "Board")",
            type: "POST",
            data: { userId: x,p: "@Request["p"].ToString()"},
            dataType: "html",
            traditional: true,
            success: function (dataa) {

                var data = $.parseJSON(dataa);
                if (data.success != null) {
                    y.innerText = data.success;
                }
                if (data.error !=null){
                    alert(data.error);
                }
            },
            error: function (dataa) {

            }
        });

    });
    //Allow Feature
    $(".allowFeature").click(function() {
        var x = this.value;
        var y = $(this)[0];
        $.ajax({
            url: "@Url.Action("allowFeature", "Board")",
            type: "POST",
            data: { userId: x,p: "@Request["p"].ToString()"},
            dataType: "html",
            traditional: true,
            success: function (dataa) {
                var data = $.parseJSON(dataa);
                if (data.success != null) {
                    y.innerText = data.success;
                }
                if (data.error !=null){
                    alert(data.error);
                }
            },
            error: function (dataa) {

            }
        });
    });
</script>

<script>
    $().ready(function() {
        $('#emails').selectize({
            persist: false,
            createOnBlur: true,
            create: true,
            total: 1
        });
    });

</script>
<script>
    $("#imgSave").click(function () {
        var filename = 'json_file'; // name of file
        var text = ""; // content of file
        text = JSON.stringify(objects_array_file); // convert objects to plain text
        
        var img = canvaso.toDataURL("image/png");
        $.ajax({
            url: "@Url.Action("saveImage", "Board")",
            type: "POST",
        data: { base64: img,p: "@Request["p"].ToString()",replay:text},
        dataType: "html",
        traditional: true,
        success: function (dataa) {
        },
        error: function (dataa) {

        }
    });
    });
</script>